<!DOCTYPE html>
<html lang="es">
    <head>
		<title >Descripcion...</title>  
        <meta   charset ="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
		{% load static %}
		<link rel="stylesheet" href="{% static 'petSalud/css/estilos.css'%}" media ="all">		
		
	
    </head>
	<body background="{% static 'petSalud/img/img_petSalud.jpg'%}">
		<h2><a href="/" class="button">Atrás</a></h2>
			<center><h1>Descripcion de la Empresa<h1/>
		
				<img src = "{% static 'petSalud/img/perroGato.jpg'%}"  border ="1" alt ="texto alternativo">
		
				<h2><p> PetSlaud es una empresa dedicada a la comercialización de muchos productos
				entre los más comercializados estan los alimentos para perro y para gatos.</p>
			
				</h2>
		


	</body>
</html/>
