<!DOCTYPE html>
<html lang="es">
    <head>
		<title >PetSalud: Articulos para mascotas</title>  
        <meta   charset ="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        {% load static %}
		<link rel="stylesheet" href="{% static 'petSalud/css/estilos.css'%}" media ="all">		
		
	
    </head>
    <body background="{% static 'petSalud/img/img_petSalud.jpg'%}">
		
		<div class ="content" >
		<header>
		<h1> <i>  <center> PetSalud </i> </h1>
		<h2>  <center> Articulos para Mascotas <h2/>
		</header>
		<section class<"contenido">
			 <center>
				<table>
					<tbody>
						<tr>
							<td rowspan= "5" id="img/petSalud">
							
								<p>
									<i class "fas fa-phone-alt " arial-hidden="true">

									</i>
									Contacto Telefonico  +562 27790765
								</p>
							</td>
						</tr>
					</tbody>
				</table>
		
		</section>
	<br/>
			
	</h1>
		<nav>

			<ul class="menu">
		
			
			<li><a class ="link" href = "/loginvista/" class ="button"> Login</a></li>
			
			<li><a href = "/nuestros_productos/" class ="button"> Nuestros Productos</a><li>
			
			<li><a href = "/menu_gestion/" class ="button"> Gestión de Productos</a><li>
			
			<li><a href = "/descripcion/" class ="button"> Descripción de ...</a></li>

			



    </body>
</html>