<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Gestión de Productos </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
		<link rel="stylesheet" href="{% static 'petSalud/css/estilos.css'%}" media ="all">	
    </head>
    
    <body background="{% static 'petSalud/img/img_petSalud.jpg'%}">
        
		<div class ="content">
		<header>
		<h1> <i>  <center> PetSalud </i> </h1>
		<h2>  <center> Articulos para Mascotas <h2/>
		</header>
		<section class<"contenido">
			 <center>
				<table>
					<tbody>
						<tr>
							<td rowspan= "5" id= "img/img_petSalud'>
							
								<p>
									<i class "fas fa-phone-alt " arial-hidden="true">

									</i>
									Contacto Telefonico  +562 27790765
								</p>
							</td>
						</tr>
					</tbody>
				</table>
		
		</section>
	<br/>
			
	</h1>
		<nav>

			<ul class="menu">
		
		
			<li><a class ="link" href="/" class="button">Inicio</a></li>
		
			<li><a href="/agregar/" class="button">Agregar Producto</a></li>
			
			<li><a href="/listar/" class="button">Listar Productos</a></li>
		
            
        
    </body>
</html>